[
    {
    "hostName": "{{inventory_hostname}}",
    "adminState": "NORMAL"
    },
    {
        "hostName": "{{inventory_hostname}}",
        "adminState": "IN_MAINTENANCE",
        "maintenanceExpireTimeInMS": 1626570086000
    },
    {
        "hostName": "{{inventory_hostname}}",
        "adminState": "NORMAL"
    }
]