export HADOOP_HOME={{hadoop_install_dir}}
export HIVE_HOME={{hive_install_dir}}
export PATH=$HIVE_HOME/bin:$PATH
export CLASSPATH=$CLASSPATH.:$HIVE_HOME/lib
export HIVE_CONF_DIR={{hive_conf_dir}}
export JAVA_HOME={{datalandfill_java_home}}
export PATH=$PATH:$JAVA_HOME/bin