version: '3.6'
services:
  kafka_manager:
    image: hlebalbau/kafka-manager:stable
    container_name: kafka-manager
    volumes:
      - {{kafka_manager.config_file}}:/kafka-manager/conf/application.conf
        # - /etc/hosts:/etc/hosts:ro
        # - /etc/localtime:/etc/localtime:ro
    command: -Dpidfile.path=/dev/null
    ulimits:
      nofile:
        soft: "65536"
        hard: "65536"
      memlock:
        soft: -1
        hard: -1
    network_mode: host
    restart: always
    logging:
      options:
        max-size: '12m'
        max-file: '5'
      driver: json-file
    environment:
      KAFKA_MANAGER_PERFORM_RESTART: "true"