version: '2'
services:
  kibana:
    image: docker.elastic.co/kibana/kibana:{{kibana_version}}
    container_name: kibana
    network_mode: host
    environment:
      SERVER_NAME: kibana
      SERVER_HOST: 0.0.0.0
      ELASTICSEARCH_HOSTS: '["http://{{groups['es_master'][0]}}:9200"]'
      NODE_OPTIONS: "--max-old-space-size=4096"
    volumes:
      - /etc/hosts:/etc/hosts:ro
      - /etc/localtime:/etc/localtime:ro