## Comma-separated list of all the RPC addresses for Master consensus-configuration.
## NOTE: if not specified, configures a non-replicated Master.
--master_addresses={{kudu_master_hosts}}
--rpc_bin_address=0.0.0.0:{{kudu_master_port}}

## List of directories where the Master will place its data blocks.
--fs_data_dirs={{kudu_master_data_dir}}

## The directory where the Master will place its write-ahead logs.
--fs_wal_dir={{kudu_master_wal_dir}}

## The directory where the Master will place its tablet metadata.
#--fs_metadata_dir

## The directory to store Master log files.
--log_dir={{kudu_log_dir}}/master
--log_filename={{inventory_hostname}}

--enable_process_lifetime_heap_profiling=true
--heap_profile_path={{kudu_master_heap_profile_path}}

--rpc-encryption=disabled
--rpc_authentication=disabled
#--unlock_unsafe_flags=true
#--allow_unsafe_replication_factor=true

--max_log_size=2048

--memory_limit_hard_bytes=1073741824

--default_num_replicas=3
--max_clock_sync_error_usec=10000000
--consensus_rpc_timeout_ms=30000
--follower_unavailable_considered_failed_sec=300
--leader_failure_max_missed_heartbeat_periods=3
#--block_manager_max_open_files=10240
#--server_thread_pool_max_thread_count=-1
--tserver_unresponsive_timeout_ms=60000
--rpc_num_service_threads=10
--max_negotiation_threads=50
--min_negotiation_threads=10
--rpc_negotiation_timeout_ms=3000
--rpc_default_keepalive_time_ms=65000

--rpc_num_acceptors_per_address=5

--master_ts_rpc_timeout_ms=60000

--remember_clients_ttl_ms=3600000

--remember_responses_ttl_ms=600000

--rpc_service_queue_length=1000

--raft_heartbeat_interval_ms=60000

#--heartbeat_interval_ms=1000
--update_tablet_stats_interval_ms=60000
--heartbeat_max_failures_before_backoff=3

## You can avoid the dependency on ntpd by running Kudu with --use-hybrid-clock=false
## This is not recommended for production environment.
## NOTE: If you run without hybrid time the tablet history GC will not work. 
## Therefore when you delete or update a row the history of that data will be kept 
## forever. Eventually you may run out of disk space. 
#--use_hybrid_clock=false

--webserver_enabled=true
--metrics_log_interval_ms=60000
--webserver_port=8051
